!.placeholder

*.ipr
*.iws
/node_modules
/bower-components
npm-debug.log
.DS_Store
/temp
Thumbs.db
/bin/

*~
*.bak
*.idea
*.iml
*.project
*.swp
*.DS_Store
*.buildpath
*.cache
*.sass-cache
*.session
*.settings
*.TemporaryItems
*.webprj
*.phpintel