!.placeholder

npm-debug.log
.DS_Store
/temp
Thumbs.db

*~
*.bak
*.idea
*.iml
*.ipr
*.iws
*.project
*.swp
*.DS_Store
*.buildpath
*.cache
*.sass-cache
*.session
*.settings
*.TemporaryItems
*.webprj
*.phpintel

/bin
/node_modules
/tools/jasmine_runner/dev_deps.js
