*.DS_Store
Thumbs.db
*.bak
*.ipr
*.iws
*.project
*.swp
/.idea
/*.iml
*.buildpath
*.cache
*.sass-cache
*.session
*.settings
*.TemporaryItems
*.webprj
*.phpintel

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

/bin
/dist
/node_modules
/deps.js
